
.login-container {
  width: 380px;
  margin: 80px auto; 
  margin-top: 20px;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
}
.welcome-img {
  width: 380px;
  margin-bottom: 10px;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #eaf4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.top-banner {
  width: 460px;
  height: 160px;
  border-radius: 10px;
}

.login-title {
  text-align: center;
  color: #007BFF;
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-input,
.login-btn {
  width: 100%;
  box-sizing: border-box;
}

.login-input {
  padding: 12px;
  margin: 12px 0;
  border: 2px solid #007BFF; 
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  background: #f8faff;
}

.login-input:focus {
  border: 2px solid #0056d6;
  background: #ffffff;
}

.login-btn {
  padding: 12px;
  margin-top: 12px;
  font-size: 17px;
  background-color: #007BFF;
  color: white;
  border: 2px solid #007BFF;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056d6;
  border-color: #0056d6;
}
